#contatoForm {
  display: flex;
  flex-direction: column;
  margin: auto auto;
}

#contatoForm input {
  color: #252525;
  margin-bottom: 20px;
}

#contatoForm textarea {
  color: #252525;
  margin-bottom: 20px;
}

#contatoForm button {
  padding: 10px 20px;
  border: 4px double var(--font-color);
  border-radius: 100px;
  font-weight: bold;
  background: var(--color-bgd);
  color: var(--font-color);
}

#contatoForm button:hover {
  border-color: var(--hover-color);
  color: var(--hover-color);
}
