* {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  color: var(--font-color);
  box-sizing: border-box;
}

body {
  background: var(--color-bgd);
  overflow-y: overlay;
}

/* Alteração de tema */
.theme-light {
  --color-bgd: #e8e8e8;
  --img-bgd: url("../../img/light_theme_bgd.png");
  --color-header-bgd: #b8b8b8;
  --font-color: #282828;
  --hover-color: #20b2aa;
  --shadow-color: rgba(255, 255, 255, 0.8);
  --img-capa: url("../../img/capa-2.png");
}
.theme-dark {
  --color-bgd: #282828;
  --img-bgd: url("../../img/dark_theme_bgd.png");
  --color-header-bgd: #181818;
  --font-color: #e8e8e8;
  --hover-color: #20b2aa;
  --shadow-color: rgba(0, 0, 0, 0.8);
  --img-capa: url("../../img/capa-1.png");
}
/* ----------------------- */

.container {
  display: flex;
  flex: 1;
  min-height: 100vh;
}

button {
  color: #252525;
}

.ocultar {
  display: none;
}

.bgd {
  background: var(--img-bgd);
  background-repeat: no-repeat;
  background-position: top;
}
