.main {
  display: flex;
  flex: 1;
  padding-top: 11%;
  padding-left: 100px;
}

.bgd {
  background: var(--img-bgd);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 80%;
}

.main button {
  font-weight: bold;
  padding: 10px 20px;
  border: 4px double var(--font-color);
  border-radius: 100px;
  background: var(--color-bgd);
  color: var(--font-color);
}

.main button:hover {
  border-color: var(--hover-color);
  color: var(--hover-color);
}

.title {
  font-size: 1.75em;
  line-height: 2.5em;
  margin-top: 50px;
  margin-bottom: 50px;
  text-shadow: 2px 2px var(--shadow-color);
}

.main h4 {
  font-size: 1.25rem;
  margin-top: 15px;
  margin-left: 100px;
}

.perfil-capa {
  display: flex;
  height: 471px;
  margin-left: 10%;
  margin-right: 20px;
}

.perfil-img {
  width: 300px;
  background-image: var(--img-capa);
  background-size: cover;
  opacity: 0.8;
  border-radius: 10px;
}

.contato-hiden {
  display: none;
}

.contato-hiden.ativo {
  display: block;
  animation: showContato 0.5s forwards;
}

@keyframes showContato {
  from {
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
