.projects {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* justify-content: space-around; */
  align-items: center;
}

.projects h2 {
  font-size: 2.25em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2.25em 0;
  text-shadow: 2px 2px var(--shadow-color);
}

.project-ext {
  display: block;
  width: 80%;
  height: 100%;
  font-size: 1.25em;
  line-height: 1.5em;
}

.project-ext a:hover {
  color: var(--hover-color);
}

.project-ext dt {
  font-size: 1.5em;
  margin-top: 10px;
}

.project-ext dd {
  font-size: 1em;
  line-height: 30px;
  padding: 10px 0;
  text-indent: 1.5em;
}

.project-ext button {
  margin-left: 20px;
  width: 23px;
  height: 23px;
  border-color: var(--font-color);
  border-radius: 30%;
  background: var(--color-bgd);
  color: var(--font-color);
  vertical-align: middle;
}

.project-ext button:hover {
  color: var(--hover-color);
  border-color: var(--hover-color);
}

.js-accordion dd {
  display: none;
}

.js-accordion dd.ativo {
  display: block;
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 100px;
  }
}
